@use '../utils/colors' as c;
@use '../utils/font-rules' as f;

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 32px;
    padding-top: 85px;
    padding-bottom: 78px;

    @media (min-width: 1025px) {
        padding-block: 80px;
        padding-inline: 24px;
    }

    &__heading,
    &__paragraph {
        text-align: center;
    }

    &__heading {
        color: c.$dark-blue;
        font-size: f.$fs-xl;
        margin-bottom: 13px;

        &--light {
            font-weight: f.$fw-light;
        }

        &--bold {
            font-weight: f.$fw-bold;
        }

        @media (min-width: 1025px) {
            font-size: f.$fs-xxl;
        }
    }

    &__paragraph {
        color: c.$gray-blue;
        font-weight: f.$fw-reg;
        font-size: f.$fs-m;
        margin-bottom: 76px;
        max-width: 540px;

        @media (min-width: 1025px) {
            margin-bottom: 64px;
        }
    }

    &__card-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;

        @media (min-width: 1025px) {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(4, auto);
            grid-template-areas: 
            '. r .'
            'c r b'
            'c o b'
            '. o .';
        }
    }
}