// font family
$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Open Sans', sans-serif;
// font weight
$fw-bold: 600;
$fw-reg: 400;
// font sizes
$fs-xl: 4.0rem;
$fs-l: 2.4rem;
$fs-ml: 1.8rem;
$fs-m: 1.6rem;
$fs-s: 1.2rem;