$bright-orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$white: #fff;
$transparent-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsl(0, 0%, 95%);
$ff-reg: 'Lexend Deca', sans-serif;
$ff-bold: 'Big Shoulders Display', cursive;
$fw-reg: 400;
$fw-bold: 700;
$fs-xxl: 4.0rem;
$fs-m: 1.5rem;