@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  height: auto;
  width: 100%;
  background-color: #090b1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promotion {
  background-color: #1b1938;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  max-width: 327px;
  margin-block: 88px;
}

.promotion__image-section {
  background-color: #aa5cdb;
  max-height: 240px;
}

.promotion__image {
  height: 240px;
  width: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
}

.promotion__num, .promotion__header {
  font-weight: 700;
}

.promotion__header {
  font-size: 2.8rem;
  margin-inline: 31.5px;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 32px;
}

.promotion__header--purple {
  color: #aa5cdb;
}

.promotion__paragraph {
  margin-inline: 31.5px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  margin-bottom: 40px;
  line-height: 25px;
}

.promotion__stats {
  margin-bottom: 24px;
}

.promotion__stats:nth-child(3) {
  margin-bottom: 32px;
}

.promotion__num {
  font-size: 2.4rem;
}

.promotion__target {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}

@media (min-width: 1110px) {
  html,
  body {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promotion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 1110px;
    max-width: 1110px;
    min-height: 446px;
    max-height: 446px;
  }
  .promotion__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: start;
  }
  .promotion__image-section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 540px;
    max-width: 540px;
    min-height: 446px;
    max-height: 446px;
  }
  .promotion__image {
    height: 100%;
    width: 100%;
  }
  .promotion__header, .promotion__paragraph, .promotion__stats-container {
    margin-left: 72px;
  }
  .promotion__header {
    font-size: 3.6rem;
    margin-top: 71px;
    margin-right: 72px;
    margin-bottom: 25px;
  }
  .promotion__paragraph {
    margin-right: 124.5px;
    margin-bottom: 72px;
  }
  .promotion__stats-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 147px;
  }
}
/*# sourceMappingURL=style.css.map */