$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$gray-blue: hsl(218, 22%, 67%);
$ff-default: 'Karla', sans-serif;
$fw-reg: 400;
$fw-bold: 700;
$fs-xxl: 3.2rem;
$fs-xl: 2.4rem;
$fs-l: 2.0rem;
$fs-ml: 1.8rem;
$fs-m: 1.6rem;
$fs-ms: 1.5rem;
$fs-s: 1.4rem;